<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.dedi.ui.perspectives.Perspective"
            id="dedi.perspective"
            name="DEDI">
      </perspective>
   </extension>
   <extension
   		point="org.eclipse.ui.views">
   		<category
   			id="dedi.dediViewsCategory"
   			name="DEDI">
   	    </category>
   	    <view
   	    	category="dedi.dediViewsCategory"
   	    	class="org.dawnsci.dedi.ui.views.plot.BeamlineConfigurationPlotView"
   	    	id="dedi.plottingview"
   	    	name="Plot">
   	    </view>
        <view
              category="dedi.dediViewsCategory"
              class="org.dawnsci.dedi.ui.views.configuration.ConfigurationView"
              id="dedi.configurationpanel"
              name="Configuration"
              restorable="true">
        </view>
        <view
              category="dedi.dediViewsCategory"
              class="org.dawnsci.dedi.ui.views.results.ResultsView"
              id="dedi.views.results"
              name="Results"
              restorable="true">
        </view>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="DEDI">
         <property
               name="appName"
               value="DEDI">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="menu:dedi.configurationpanel">
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               mnemonic="P"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:dedi.configurationpanel">
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               mnemonic="P"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.dedi.configuration.preferences.BeamlineConfigurationPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawnsci.dedi.configuration.preferences.BeamlineConfigurationPreferencePage"
            id="dedi.configuration.preferences.beamlineconfiguration"
            name="Beamline Configuration ">
      </page>
   </extension>
</plugin>
