<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.slicing.api.slicingTool">
      <slicing_tool
            class="org.dawnsci.volumerender.tool.VolumeRenderTool"
            icon="icons/Volume.png"
            id="org.dawnsci.volumerender.tool.VolumeRenderTool"
            tooltip="Slice data using a volume render">
      </slicing_tool>
   </extension>

</plugin>
