<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.dawnsci.datavis.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="org.dawnsci.datavis.model.fileopen"
                  label="Open File..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Preferences..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  label="Switch Mode..."
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.dawnsci.datavis.DataVisPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   </extension>

</plugin>
