<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.dawnsci.datavis.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.dawnsci.datavis.file"
               label="File"
               mnemonic="F">
            <command
                  commandId="org.dawnsci.datavis.model.fileopen"
                  label="Open File..."
                  style="push">
            </command>
            <command
                  commandId="org.dawnsci.datavis.model.fileclose"
                  label="Close"
                  style="push">
            </command>
            <separator
                  name="org.dawnsci.datavis.restartseparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  label="Restart"
                  style="push">
            </command>
            <separator
                  name="org.dawnsci.datavis.exitseparator"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.dawnsci.datavis.DataVisPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="org.dawnsci.datavis.plot"
               label="Plot"
               mnemonic="P">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.dawnsci.datavis.DataVisPerspective">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.dawnsci.datavis.RecentFoldersContributionFactory"
            locationURI="menu:org.dawnsci.datavis.file">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.dawnsci.datavis.PlotModifierContributionFactory"
            locationURI="menu:org.dawnsci.datavis.plot">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dawnsci.datavis.DataVisPerspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.workbench.navigate">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.ui.launchActionSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawb.tango.extensions.shared.memory">
         </hiddenToolBarItem>
         <actionSet
               id="org.dawnsci.spectrum.ui.fileOpenActionSet">
         </actionSet>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
      </perspectiveExtension>
   </extension>

</plugin>
