<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            name="File Viewer"
            icon="icons/application_side_tree.png"
            class="org.dawnsci.fileviewer.parts.FileViewerE4Part"
            restorable="true"
            id="org.dawnsci.fileviewer.FileViewer">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.dawnsci.fileviewer.openCommand"
            name="Open">
      </command>
      <command
            id="org.dawnsci.fileviewer.convertCommand"
            name="Convert...">
      </command>
   </extension>

</plugin>
