<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension-point id="openFile" name="Open a file in File View/FileViewer (overriding double click)" schema="schema/openFile.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <e4view
            allowMultiple="false"
            name="File Viewer"
            icon="icons/application_side_tree.png"
            class="org.dawnsci.fileviewer.parts.FileViewerE4Part"
            restorable="true"
            id="org.dawnsci.fileviewer.FileViewer">
      </e4view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.dawnsci.fileviewer.openCommand"
            name="Open">
      </command>
      <command
            id="org.dawnsci.fileviewer.convertCommand"
            name="Convert...">
      </command>
      <command
            id="org.dawnsci.fileviewer.layoutCommand"
            name="Edit Layout">
      </command>
      <command
            id="org.dawnsci.fileviewer.refreshCommand"
            name="Refresh Table">
      </command>
      <command
            id="org.dawnsci.fileviewer.parentCommand"
            name="Parent">
      </command>
      <command
            id="org.dawnsci.fileviewer.preferencesCommand"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="uk.ac.diamond.scisoft.analysis.rcp.preferences.root"
            class="org.dawnsci.fileviewer.preferences.FileViewerPreferencePage"
            id="org.dawnsci.fileviewer.preferencePage"
            name="File Viewer">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.fileviewer.preferences.FileViewerPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
