<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
      point="org.eclipse.core.resources.natures"
      id="DAWNExtensionNature"
      name="DAWN Extension">
      <runtime>
         <run class="org.dawnsci.dde.core.DAWNExtensionNature">
         </run>
      </runtime>
   <requires-nature id="org.eclipse.pde.PluginNature"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.dawnsci.dde.core.DAWNLaunchConfiguration"
            delegateName="DAWN Launcher"
            id="org.dawnsci.dde.core.launchConfigurationType"
            modes="run,debug"
            name="DAWN Application"
            sourceLocatorId="org.eclipse.pde.ui.launcher.PDESourceLookupDirector"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
</plugin>
