<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.dawnsci.processing.ui.ProcessingView"
            icon="icons/image-sharpen.png"
            id="org.dawnsci.processing.ui.processingView"
            name="Processing"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.eclipse.ui.views.properties.PropertySheet"
            icon="icons/image--pencil.png"
            id="org.dawnsci.processing.ui.propertySheet"
            name="Model"
            restorable="true">
      </view>
   </extension>

</plugin>
