<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.dawnsci.processing.ui.processing.ProcessingView"
            icon="icons/image-sharpen.png"
            id="org.dawnsci.processing.ui.processingView"
            name="Processing"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.dawnsci.processing.ui.model.OperationModelView"
            icon="icons/image--pencil.png"
            id="org.dawnsci.processing.ui.modelView"
            name="Model"
            restorable="true">
      </view>
      <view
            class="org.dawnsci.processing.ui.slice.DataFileSliceView"
            icon="icons/procfolder.png"
            id="org.dawnsci.processing.ui.DataFileSliceView"
            name="Data Slice View"
            restorable="true">
      </view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/input.png"
            id="org.dawnsci.processing.ui.input"
            name="Input"
            restorable="true">
      </view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/output.png"
            id="org.dawnsci.processing.ui.output"
            name="Output"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            id="org.dawnsci.processing.ui.view.vanillaPlottingSystemView"
            name="Plotting System View"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.processing.ui.ProcessingPerspective"
            icon="icons/image-sharpen.png"
            id="org.dawnsci.processing.ui.ProcessingPerspective"
            name="Processing">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.dawnsci.processing.ui.fileactions.ProcessingActionProvider"
            id="org.dawnsci.processing.ui.fileactions.ProcessingActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.processing.ui.ProcessingPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.dawnsci.processing.ui.fileactions.ProcessingActionProvider"
            id="org.dawnsci.processing.ui.fileactions.ProcessingActionProvider2"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.processing.ui.ProcessingPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.dawnsci.processing.ui.fileactions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dawnsci.processing.ui.fileactions.fileOpenAction"
            label="Open File to Process...">
         <action
               class="org.dawnsci.processing.ui.fileactions.OpenLocalFileAction"
               id="org.dawnsci.processing.ui.fileactions.actionOpen"
               label="Open File to Process..."
               menubarPath="file/new"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dawnsci.processing.ui.ProcessingPerspective">
         <actionSet
               id="org.dawnsci.processing.ui.fileactions.fileOpenAction">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.dawnsci.fileviewer.openFile">
      <fileOpen
            class="org.dawnsci.processing.ui.fileactions.NavigatorOpen"
            id="org.dawnsci.processing.ui.fileactions.NavigatorOpen"
            perspective="org.dawnsci.processing.ui.ProcessingPerspective">
      </fileOpen>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.processing.ui.preference.ProcessingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            class="org.dawnsci.processing.ui.tool.ProcessingImagesTool"
            icon="icons/image-sharpen.png"
            id="org.dawnsci.processing.ui.tool.ProcessingImagesTool"
            label="Processing Image">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.processing.ui.tool.ProcessingXYTool"
            icon="icons/image-sharpen.png"
            id="org.dawnsci.processing.ui.tool.ProcessingXYTool"
            label="Processing XY">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawnsci.processing.ui.preference.ProcessingPreferencePage"
            id="org.dawnsci.processing.ui.preference.ProcessingPreferencePage"
            name="Processing Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.dawnsci.analysis.api.operationsetupwizardpage">
      <operationsetupwizardpage
            class="org.dawnsci.processing.ui.savu.SavuPluginModelWizardPage"
            id="org.dawnsci.processing.ui.SavuPluginModelWizardPage"
            name="Savu Filter Operation Set-up Wizard Page"
            operationid="uk.ac.diamond.scisoft.analysis.processing.python.PythonSavuOperation">
      </operationsetupwizardpage>
      <operationsetupwizardpage
            class="org.dawnsci.processing.ui.saxs.TParameterWizardPage"
            id="org.dawnsci.processing.ui.TParameterWizardPage"
            name="T Parameter Operation Set-up Wizard Page"
            operationid="uk.ac.diamond.scisoft.analysis.processing.operations.saxs.TParameterOperation">
      </operationsetupwizardpage>
   </extension>

</plugin>
