<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.spectrum.ui.SpectrumPerspective"
            icon="icons/spectrum.png"
            id="org.dawnsci.spectrum.ui.perspective"
            name="Spectrum">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.dawnsci.spectrum.ui.views.SpectrumView"
            icon="icons/spectrum.png"
            id="org.dawnsci.spectrum.ui.views.SpectrumView"
            name="Spectrum View">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="uk.ac.diamond.scisoft.analysis.rcp.views.PlotView"
            icon="icons/spectrumaxis.png"
            id="org.dawnsci.spectrum.ui.views.SpectrumPlot"
            name="Spectrum Plot"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/spectrumpe.png"
            id="org.dawnsci.spectrum.ui.views.SpectrumProject"
            name="Spectrum Project">
      </view>
      <view
            category="org.dawb.workbench.ui.beta.views.category"
            class="org.dawnsci.spectrum.ui.views.SpectrumDatasetView"
            icon="icons/spectrumds.png"
            id="org.dawnsci.spectrum.ui.SpectrumDatasetView"
            name="Datasets"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.dawnsci.spectrum.ui.SpectrumProject">
      </viewer>
      <viewerContentBinding
            viewerId="org.dawnsci.spectrum.ui.views.SpectrumProject">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.dawnsci.spectrum.ui.views.SpectrumProject">
         <includes>
            <actionExtension
                  pattern="org.dawnsci.spectrum.ui.actions.OpenProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.dawnsci.spectrum.ui.actions.SpectrumActionProvider"
            id="org.dawnsci.spectrum.ui.actions.OpenProvider"
            overrides="org.eclipse.ui.navigator.resources.OpenActions">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
            </and>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.spectrum.ui.preferences.SpectrumPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawnsci.spectrum.ui.preferences.SpectrumPreferencePage"
            id="org.dawnsci.spectrum.ui.preferences.page"
            name="Spectrum Default Names">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.dawnsci.spectrum.perspective.removeunwantedaction"
            name="Remove unwanted actions">
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <not>
                  <equals
                        value="org.dawnsci.spectrum.ui.perspective">
                  </equals>
               </not>
            </with>
         </enabledWhen>
      </activity>
      <activityPatternBinding
            activityId="org.dawnsci.spectrum.perspective.removeunwantedaction"
            isEqualityPattern="true"
            pattern="org.eclipse.ui.edit.text.openLocalFile">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.dawnsci.spectrum.perspective.removeunwantedaction"
            isEqualityPattern="false"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dawnsci.spectrum.ui.perspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.workbench.navigate">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.ui.launchActionSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawb.tango.extensions.shared.memory">
         </hiddenToolBarItem>
         <actionSet
               id="org.dawnsci.spectrum.ui.fileOpenActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dawnsci.spectrum.ui.fileOpenActionSet"
            label="Open Spectrum File..."
            visible="false">
         <action
               class="org.dawnsci.spectrum.ui.actions.OpenLocalFileAction"
               id="org.dawnsci.spectrum.ui.action1"
               label="Open Spectrum File..."
               menubarPath="file/new"
               style="push">
         </action>
      </actionSet>
   </extension>

</plugin>
