<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.workbench.ui.editors.preference.EditorPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawb.workbench.ui.editors.preference.EditorPreferencePage"
            id="org.edna.workbench.editors.preferencePage"
            name="Editors">
      </page>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="org.dawnsci.preferences.root"
            name="Data Analysis">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawb.workbench.ui.editors.preference.EditorPreferencesHandler"
            id="org.edna.workbench.editors.preference.preferenceDialog"
            name="Preferences...">
      </command>
      <command
            defaultHandler="org.dawb.workbench.ui.editors.actions.AddExpressionHandler"
            id="org.dawb.workbench.editors.addExpression"
            name="Add Expression">
      </command>
      <command
            defaultHandler="org.dawb.workbench.ui.editors.actions.DeleteExpressionHandler"
            id="org.dawb.workbench.editors.deleteExpression"
            name="Delete Expression">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dawb.workbench.ui.editors.AsciiEditor"
            default="true"
            extensions="srs, dat, flt, gff, mca"
            icon="icons/ascii_editor.png"
            id="org.dawb.workbench.editors.AsciiEditor"
            name="Ascii Data Editor">
      </editor>

      <editor
            class="org.dawb.workbench.ui.editors.ImageEditor"
            default="true"
            extensions="tif, tiff, cbf, img, ciff, mccd, edf, pgm, cor, bruker, jpg, png, f2d, msk"
            icon="icons/image_editor.png"
            id="org.dawb.workbench.editors.ImageEditor"
            name="Image Editor">
      </editor>


      <editor
            class="org.dawb.workbench.ui.editors.ZipEditor"
            default="true"
            extensions="gz, bz2, zip"
            icon="icons/zip_editor.png"
            id="org.dawb.workbench.editor.ZipEditor"
            name="Compressed Editor">
      </editor>
      <editor
            class="org.dawb.workbench.ui.editors.H5MultiEditor"
            default="true"
            extensions="h5, hd5, hdf5, nxs, nexus, hdf"
            icon="icons/h5_editor.png"
            id="org.dawb.workbench.editor.H5Editor"
            name="HDF5 Editor">
      </editor>
<!--      <editor
            class="org.dawb.hdf5.editor.H5Editor"
            default="false"
            extensions="h5, hd5, hdf5, nxs, nexus, hdf"
            icon="icons/h5_editor.png"
            id="org.dawb.hdf5.editor.raw.tree"
            name="HDF5 Tree Editor">
      </editor> -->
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
       <editorContribution
            id="org.edna.workbench.editors.asciiEditorContribution"
            targetID="org.edna.workbench.editors.AsciiEditor">
         <action
               class="org.dawb.workbench.ui.editors.actions.DeleteExpressionHandler"
               definitionId="org.dawb.workbench.editors.deleteExpression"
               icon="icons/delete_expression.png"
               id="org.edna.workbench.editors.deleteExpressionEditorAction"
               label="Delete Expression"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Delete an expression">
         </action>
         <action
               class="org.dawb.workbench.ui.editors.actions.AddExpressionHandler"
               definitionId="org.dawb.workbench.editors.addExpression"
               icon="icons/add_expression.png"
               id="org.edna.workbench.editors.addExpressionEditorAction"
               label="Add Expression"
               style="radio"
               toolbarPath="Normal/additions"
               tooltip="Add an expression of the other data sets">
         </action>
      </editorContribution>
       <editorContribution
             id="org.edna.workbench.editors.h5EditorContribution"
             targetID="fable.imageviewer.editor.H5Editor">
          <action
                class="org.dawb.workbench.ui.editors.actions.DeleteExpressionHandler"
                definitionId="org.dawb.workbench.editors.deleteExpression"
                icon="icons/delete_expression.png"
                id="org.edna.workbench.editors.deleteExpressionEditorAction1"
                label="Delete Expression"
                style="push"
                toolbarPath="Normal/additions"
                tooltip="Delete an expression">
          </action>
          <action
                class="org.dawb.workbench.ui.editors.actions.AddExpressionHandler"
                definitionId="org.dawb.workbench.editors.addExpression"
                icon="icons/add_expression.png"
                id="org.edna.workbench.editors.addExpressionEditorAction1"
                label="Add Expression"
                style="radio"
                toolbarPath="Normal/additions"
                tooltip="Add an expression of the other data sets">
          </action>
       </editorContribution>
       
       <editorContribution
             id="org.edna.workbench.editors.modelEditorContribution"
             targetID="com.isencia.passerelle.workbench.model.editor.ui.editors.modelEditor">
          <action
                class="org.dawb.workbench.ui.editors.actions.HightlightWorkflowHandler"
                icon="icons/highlight_workflow.gif"
                id="org.edna.workbench.editors.highlightWorkflowAction"
                label="Highlight Actors During Run"
                style="toggle"
                toolbarPath="Normal/additions"
                tooltip="Highlight a workflow actor while it is running.">
          </action>
       </editorContribution>
       <editorContribution
             id="org.edna.workbench.editors.modelEditorContribution"
             targetID="com.isencia.passerelle.workbench.model.editor.ui.editors.wizardEditor">
          <action
                class="org.dawb.workbench.ui.editors.actions.HightlightWorkflowHandler"
                icon="icons/highlight_workflow.gif"
                id="org.edna.workbench.editors.highlightWorkflowAction"
                label="Highlight Actors During Run"
                style="toggle"
                toolbarPath="Normal/additions"
                tooltip="Highlight a workflow actor while it is running.">
          </action>
       </editorContribution>
       
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.workbench.ui.cheat.sheet.basic.data.category"
            name="Basic Data Viewing">
      </category>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.basic.data.category"
            composite="false"
            contentFile="cheat/editors-nexus.xml"
            id="org.dawb.workbench.ui.editors.nexus"
            name="Using HDF5 and Nexus Files">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.basic.data.category"
            composite="false"
            contentFile="cheat/editors-images.xml"
            id="org.dawb.workbench.ui.editors.images"
            name="Using Image Files (Fable Image Viewer)">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.basic.data.category"
            composite="false"
            contentFile="cheat/editors-1d.xml"
            id="org.dawb.workbench.ui.editors.1d"
            name="X/Y Plots">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.basic.data.category"
            composite="false"
            contentFile="cheat/basic-image.xml"
            id="org.dawb.workbench.ui.editors.imagesbasic"
            name="Basic Image File Viewing">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.workbench.ui.cheat.sheet.monitoring.category"
            name="Monitoring Hardware">
      </category>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.monitoring.category"
            composite="false"
            contentFile="cheat/views-monitor.xml"
            id="org.dawb.workbench.ui.views.monitor"
            name="Getting to Grips with Monitor View">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.ui.cheat.sheet.monitoring.category"
            composite="false"
            contentFile="cheat/views-images.xml"
            id="org.dawb.workbench.ui.views.monitor.images"
            name="Monitoring Directories of Images">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetItemExtension">
      <itemExtension
            class="org.dawb.workbench.ui.views.cheatsheets.MonitorDirectoryItem"
            itemAttribute="monitorPath">
      </itemExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawb.workbench.ui.perspective.DataBrowsingPerspective"
            icon="icons/application_view_gallery.png"
            id="org.edna.workbench.application.perspective.DataPerspective"
            name="Data Browsing">
      </perspective>
   </extension>
   <extension
         point="org.dawnsci.introRegister">
      <introPageRegister
            description="Opens the Data Browsing perspective"
            icon="icons/data_browsing_intro.png"
            id="org.edna.workbench.application.perspective.intro.DataPerspective"
            class="org.dawb.workbench.ui.perspective.DataBrowsingPerspectiveLaunch"
            name="Data Browsing">
      </introPageRegister>
   </extension>
   <extension
         id="org.dawb.common.ui.DataNature"
         name="Data Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.dawb.workbench.ui.project.DataNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Project-data.png"
            id="org.dawb.common.ui.DataProjectImage"
            natureId="org.dawb.common.ui.DataNature">
      </image>
   </extension>
   <extension
         id="DataNature"
         name="Data Project"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.dawb.workbench.ui.project.DataNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/Project-data.png"
            id="org.dawb.workbench.ui.DataProjectImage"
            natureId="org.dawb.workbench.ui.DataNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.dawb.workbench.ui.dataCategory"
            name="Data Browsing">
      </category>
      <wizard
            category="org.dawb.workbench.ui.dataCategory"
            class="org.dawb.workbench.ui.project.DataNewProjectWizard"
            icon="icons/Project-data.png"
            id="org.edna.common.ui.project.DataWizard"
            name="Data Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.dawb.workbench.ui.project.DataProjectCreator">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.edna.common.ui.project.DataCategory"
            class="org.dawb.hdf5.editor.H5Wizard"
            icon="icons/h5_editor.png"
            id="org.edna.common.ui.project.H5Wizard"
            name="H5 File"
            project="false">
      </wizard>
   </extension>
</plugin>
