<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.plotting.api.plottingViewer">
      <plottingViewer
            class="org.dawnsci.plotting.javafx.FXPlotViewer"
            id="org.dawnsci.plotting.javafx.fxplotViewer">
      </plottingViewer>
   </extension>

</plugin>
