<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.dawnsci.datavis.manipulation.DataManipulationExtensionContributionFactory"
            locationURI="menu:org.dawnsci.menu.main.tools">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.dawnsci.datavis.file?after=org.dawnsci.datavis.recentseparator">
         <command
               commandId="org.dawnsci.datavis.manipulation.folder.preview"
               label="Preview Folder..."
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.dawnsci.menu.main.tools"
               label="Tools"
               mnemonic="T">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.datavis.manipulation.FolderPreviewHandler"
            id="org.dawnsci.datavis.manipulation.folder.preview"
            name="Folder Preview">
      </command>
   </extension>

</plugin>
