<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.plotting.api.plottingViewer">
      <plottingViewer
            class="org.dawnsci.jzy3d.JZY3DPlotViewer"
            id="org.dawnsci.jzy3d.jzy3dplotviewer">
      </plottingViewer>
   </extension>

</plugin>
