<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.plotting.api.plottingViewer">
      <plottingViewer
            class="org.dawnsci.jzy3d.JZY3DPlotViewer"
            id="org.dawnsci.jzy3d.jzy3dplotviewer">
      </plottingViewer>
   </extension>
   <extension
         point="org.dawnsci.datavis.api.plotmode">
      <plotmode
            class="org.dawnsci.jzy3d.plotmodes.PlotModeSurfaceMesh"
            name="SurfaceMesh"
            priority="2">
      </plotmode>
      <plotmode
            class="org.dawnsci.jzy3d.plotmodes.PlotModeWaterfall"
            name="Waterfall"
            priority="1">
      </plotmode>
   </extension>

</plugin>
