<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.datavis.view.perspective.DataVisPerspective"
            icon="icons/color-swatch.png"
            id="org.dawnsci.datavis.DataVisPerspective"
            name="DataVis">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            class="org.dawnsci.datavis.view.parts.LoadedFilePart"
            icon="icons/ui-layered-pane.png"
            id="org.dawnsci.datavis.view.parts.LoadedFilePart"
            name="Data Files"
            restorable="true">
      </e4view>
      <e4view
            class="org.dawnsci.datavis.view.parts.DatasetPart"
            icon="icons/ui-layered-pane.png"
            id="org.dawnsci.datavis.view.parts.DatasetPart"
            name="Datasets"
            restorable="true">
      </e4view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/color-swatch.png"
            id="org.dawnsci.datavis.view.parts.Plot"
            name="Plot"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.datavis.view.perspective.FileCloseHandler"
            id="org.dawnsci.datavis.model.fileclose"
            name="File Close Command">
      </command>
      <command
            defaultHandler="org.dawnsci.datavis.view.perspective.FileOpenHandler"
            id="org.dawnsci.datavis.model.fileopen"
            name="File Open Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
         <actionProvider
            class="org.dawnsci.datavis.view.DataVisActionProvider"
            id="org.dawnsci.datavis.view.actions.DataVisActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
            <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.datavis.DataVisPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.dawnsci.datavis.view.DataVisActionProvider"
            id="org.dawnsci.datavis.view.actions.DataVisActionProvider2"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
            <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.datavis.DataVisPerspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.dawnsci.datavis.view.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

</plugin>
