<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="DataVis"
            icon="icons/color-swatch.png"
            class="org.dawnsci.datavis.view.perspective.DataVisPerspective"
            id="org.dawnsci.datavis.DataVisPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <e4view
            name="Data Files"
            icon="icons/ui-layered-pane.png"
            class="org.dawnsci.datavis.view.parts.LoadedFilePart"
            restorable="true"
            id="org.dawnsci.datavis.view.parts.LoadedFilePart">
      </e4view>
      <e4view
            name="Datasets"
            icon="icons/ui-layered-pane.png"
            class="org.dawnsci.datavis.view.parts.DatasetPart"
            restorable="true"
            id="org.dawnsci.datavis.view.parts.DatasetPart">
      </e4view>
      <view
            name="Plot"
            icon="icons/color-swatch.png"
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            restorable="true"
            id="org.dawnsci.datavis.view.parts.Plot">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.datavis.view.perspective.FileCloseHandler"
            name="File Close Command"
            id="org.dawnsci.datavis.model.fileclose">
      </command>
   </extension>
   <extension
         id="org.dawnsci.datavis.view.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
