<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.dawnsci.slicing.api.slicingSystem">
      <slice_component
            class="org.dawnsci.slicing.component.SliceSystemImpl"
            id="org.dawnsci.slicing.sliceSystemBasic"
            name="Simple Slicing">
      </slice_component>
   </extension>

</plugin>
