<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.newExtension">
      <wizard
            id="org.dawnsci.dde.templates.OperationWizard"
            name="Operation"
            template="org.dawnsci.dde.templates.OperationTemplate">
      </wizard>
      <wizard
            id="org.dawnsci.dde.templates.LoaderWizard"
            name="Loader"
            template="org.dawnsci.dde.templates.LoaderTemplate">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.pde.ui.templates">
      <template
            class="org.dawnsci.dde.templates.OperationTemplate"
            contributingId="org.eclipse.dawnsci.analysis.api.operation"
            id="org.dawnsci.dde.templates.OperationTemplate"
            name="Operation">
      </template>
      <template
            class="org.dawnsci.dde.templates.LoaderTemplate"
            contributingId="uk.ac.diamond.scisoft.analysis.io.loader"
            id="org.dawnsci.dde.templates.LoaderTemplate"
            name="Loader">
      </template>
   </extension>
</plugin>
