<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPage">
         <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            class="org.dawnsci.plotting.tools.advanced.expressions.ExpressionTool"
            icon="icons/add_expression.png"
            id="org.dawb.workbench.plotting.tools.expressionConsoleTool"
            label="Expression Console"
            visible="true">
      </plotting_tool_page>
   </extension>

</plugin>
