<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.webintro.item" name="Web Intro Page Item Register" schema="schema/org.dawnsci.webintro.item.exsd"/>
   <extension-point id="org.dawnsci.webintro.page" name="Web Intro Page Register" schema="schema/org.dawnsci.webintro.page.exsd"/>

   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.dawnsci.webintro.views.WelcomePart"
            icon="icons/dawn-logo-icon.png"
            id="org.dawnsci.webintro">
      </intro>
      <introProductBinding
            introId="org.dawnsci.webintro"
            productId="org.dawnsci.product.plugin.DAWN">
      </introProductBinding>
   </extension>
<extension
         point="org.dawnsci.webintro.page">
      <introPage
            content_file="content/pages/science.md"
            id="org.dawnsci.webintro.content.pages.science"
            name="Science"
            ordering="10"
            page_id="science">
      </introPage>
      <introPage
            content_file="content/pages/dawn.md"
            id="org.dawnsci.webintro.content.pages.dawn"
            name="DAWN"
            ordering="20"
            page_id="dawn">
      </introPage>
      <introPage
            content_file="content/pages/help.md"
            id="org.dawnsci.webintro.content.pages.help"
            name="Help"
            ordering="30"
            page_id="help">
      </introPage>
   </extension>
<extension
      point="org.dawnsci.webintro.item">
   <introLink
         href="http://dawnsci.org"
         id="org.dawnsci.webintro.link.dawnwebsite"
         name="DAWN Website"
         ordering="10"
         parent_id="help">
   </introLink>
   <introContent
         content_file="content/what-is-dawn.md"
         id="org.dawnsci.webintro.content.what-is-dawn"
         name="What Is DAWN"
         ordering="10"
         parent_id="help">
   </introContent>
   <introLink
         description="Link to the description of the EPL license used in DAWN"
         href="http://www.eclipse.org/legal/epl-v10.html"
         id="org.dawnsci.webintro.link.licence"
         name="License"
         ordering="30"
         parent_id="help">
   </introLink>
   <introContent
         description="Open a feedback form"
         id="uk.ac.diamond.scisoft.feedback"
         name="Leave Feedback"
         ordering="40"
         parent_id="help">
   </introContent>
   <introCategory
         category_id="powderdiffraction"
         id="org.dawnsci.webintro.category.powderdiffraction"
         name="Powder Diffraction"
         ordering="2"
         parent_id="science">
   </introCategory>
   <introCategory
         category_id="tomography"
         id="org.dawnsci.webintro.category.tomography"
         name="Tomography"
         ordering="1"
         parent_id="science">
   </introCategory>
   <introCategory
         category_id="ncd"
         id="org.dawnsci.webintro.category.NCD"
         name="NCD (Non-Crystalline Diffraction)"
         ordering="3"
         parent_id="science">
   </introCategory>
   <introCategory
         category_id="arpes"
         description="(angle-resolved photoemission spectroscopy)"
         id="org.dawnsci.webintro.category.ARPES"
         name="ARPES"
         ordering="4"
         parent_id="science">
   </introCategory>
   <introLink
         href="http://example.org"
         id="org.dawnsci.webintro.introLink1"
         name="Test Link 1"
         parent_id="powderdiffraction">
   </introLink>
   <introLink
         href="http://"
         id="org.dawnsci.webintro.introLink2"
         name="Test Link 2"
         parent_id="powderdiffraction">
   </introLink>
   <introCategory
         category_id="scripting"
         id="org.dawnsci.webintro.category.scripting"
         name="Scripting"
         ordering="1"
         parent_id="dawn">
   </introCategory>
   <introCategory
         category_id="dawndev"
         id="org.dawnsci.webintro.category.dawnindawn"
         name="DAWN Development Environments"
         ordering="2"
         parent_id="dawn">
   </introCategory>
   <introCategory
         category_id="processes"
         id="org.dawnsci.webintro.category.processes"
         name="Processes"
         ordering="3"
         parent_id="dawn">
   </introCategory>
   <introLink
         description="Contains tutorial videos"
         href="http://youtube.com/DAWNScience"
         id="org.dawnsci.webintro.link.youtube"
         name="DAWN YouTube Channel"
         parent_id="help">
   </introLink>
   <introCategory
         category_id="dawn_general"
         id="org.dawnsci.webintro.category.general"
         name="General"
         parent_id="dawn">
   </introCategory>
</extension>
</plugin>
