<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension 
        point="org.eclipse.ui.ide.projectNatureImages"> 
		<image 
            id="org.dawnsci.dde.ui.DAWNExtensionImage" 
            natureId="org.dawnsci.dde.core.DAWNExtensionNature" 
            icon="icons/full/misc16/nature.gif"> 
        </image> 
   </extension>
 <extension
       point="org.eclipse.ui.newWizards">
    <wizard
          canFinishEarly="false"
          category="org.dawnsci.dde.ui.category"
          class="org.dawnsci.dde.ui.NewDAWNExtensionProjectWizard"
          finalPerspective="org.eclipse.pde.ui.PDEPerspective"
          hasPages="true"
          icon="icons/full/obj16/new_dawn_prj_wiz.gif"
          id="org.dawnsci.dde.ui.wizards.NewDAWNExtensionProject"
          name="DAWN Plug-in Project"
          preferredPerspectives="org.eclipse.pde.ui.PDEPerspective"
          project="true">
    </wizard>
    <category
          id="org.dawnsci.dde.ui.category"
          name="DAWN Plug-in Development">
    </category>
 </extension>
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="*">
       <newWizardShortcut
             id="org.dawnsci.dde.ui.wizards.NewDAWNExtensionProject">
       </newWizardShortcut>
    </perspectiveExtension>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
          configTypeID="org.dawnsci.dde.core.launchConfigurationType"
          icon="icons/full/misc16/launch.png"
          id="org.dawnsci.dde.ui.launchConfigurationTypeImage">
    </launchConfigurationTypeImage>
 </extension>
 <extension
       point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
          class="org.dawnsci.dde.ui.AbstractLaunchConfigurationTabGroup"
          id="org.dawnsci.dde.ui.launchConfigurationTabGroup"
          type="org.dawnsci.dde.core.launchConfigurationType">
    </launchConfigurationTabGroup>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="org.dawnsci.dde.ui.internal.AddProjectNatureCommand"
          id="org.dawnsci.dde.ui.addNatureCommand"
          name="Add DAWN Project Nature">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="true"
          locationURI="popup:org.eclipse.pde.ui.tools">
       <command
             commandId="org.dawnsci.dde.ui.addNatureCommand"
             icon="icons/full/obj16/new_dawn_prj_wiz.gif"
             label="Add DAWN Project Nature"
             style="push">
          <visibleWhen
                checkEnabled="false">
             <iterate
             	ifEmpty="false">
				<adapt type="org.eclipse.core.resources.IResource">
					<test 
						property="org.eclipse.core.resources.projectNature" 
						value="org.eclipse.pde.PluginNature">
					</test>
				</adapt>
			</iterate>
          </visibleWhen>
       </command>
    </menuContribution>
 </extension>

</plugin>
