<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/full/misc16/nature.gif"
            natureId="org.dawnsci.dde.core.DAWNExtensionNature"
            id="org.dawnsci.dde.ui.DAWNExtensionImage">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="DAWN Plug-in Project"
            id="org.dawnsci.dde.ui.wizards.NewDAWNExtensionProject"
            category="org.dawnsci.dde.ui.category"
            canFinishEarly="false"
            class="org.dawnsci.dde.ui.NewDAWNExtensionProjectWizard"
            hasPages="true"
            icon="icons/full/obj16/new_dawn_prj_wiz.gif"
            finalPerspective="org.eclipse.pde.ui.PDEPerspective"
            project="true"
            preferredPerspectives="org.eclipse.pde.ui.PDEPerspective">
      </wizard>
      <category
            name="DAWN Plug-in Development"
            id="org.dawnsci.dde.ui.category">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <newWizardShortcut
               id="org.dawnsci.dde.ui.wizards.NewDAWNExtensionProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            icon="icons/full/misc16/launch.png"
            configTypeID="org.dawnsci.dde.core.launchConfigurationType"
            id="org.dawnsci.dde.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.dawnsci.dde.core.launchConfigurationType"
            class="org.dawnsci.dde.ui.AbstractLaunchConfigurationTabGroup"
            id="org.dawnsci.dde.ui.launchConfigurationTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.dde.ui.internal.AddProjectNatureCommand"
            name="Add DAWN Project Nature"
            id="org.dawnsci.dde.ui.addNatureCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.pde.ui.tools">
         <command
               commandId="org.dawnsci.dde.ui.addNatureCommand"
               label="Add DAWN Project Nature"
               icon="icons/full/obj16/new_dawn_prj_wiz.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <adapt
                        type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.projectNature"
                           value="org.eclipse.pde.PluginNature">
                     </test>
                  </adapt>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         id="org.dawnsci.dde.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
      <processor
            apply="always"
            beforefragment="false"
            class="org.dawnsci.dde.ui.internal.LaunchBarPerspectiveHandler">
      </processor>
   </extension>

</plugin>
