<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.workbench.plotting.preference.PlottingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.dawb.common.ui.plottingClass">
      <plottingSystem
            class="org.dawb.workbench.plotting.system.LightWeightPlottingSystem"
            id="org.dawb.workbench.editors.plotting.lightWeightPlottingSystem"
            visible_type="Lightweight">
      </plottingSystem>
   </extension>
   <extension
         point="org.dawb.common.ui.toolPage">
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.peak"
            class="org.dawb.workbench.plotting.tools.fitting.PeakFittingTool"
            icon="icons/plot-tool-peak-fit.png"
            id="org.dawb.workbench.plotting.tools.fittingTool"
            label="Peak Fitting"
            tooltip="A tool for fitting peaks on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.derivative"
            class="org.dawb.workbench.plotting.tools.DerivativeTool"
            icon="icons/plot-tool-derivative.png"
            id="org.dawb.workbench.plotting.tools.derivative"
            label="Derivative"
            tooltip="A tool which shows the derivative next to what is currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.measurement"
            class="org.dawb.workbench.plotting.tools.MeasurementTool"
            icon="icons/plot-tool-measure.png"
            id="org.dawb.workbench.plotting.tools.measure"
            label="Measurement"
            tooltip="A tool which shows values of regions selected in the plotting.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.pixel"
            class="org.dawb.workbench.plotting.tools.InfoPixelTool"
            icon="icons/info.png"
            id="org.dawb.workbench.plotting.tools.InfoPixel"
            label="Pixel Information"
            tooltip="A tool for displaying information on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.lineprofile"
            class="org.dawb.workbench.plotting.tools.profile.LineProfileTool"
            icon="icons/plot-tool-line-profile.png"
            id="org.dawb.workbench.plotting.tools.lineProfileTool"
            label="Line Profile"
            tooltip="A tool for showing line profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            class="org.dawb.workbench.plotting.tools.profile.BoxProfileTool"
            icon="icons/plot-tool-box-profile.png"
            id="org.dawb.workbench.plotting.tools.boxProfileTool"
            label="Box Profile"
            tooltip="A tool for showing box profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            class="org.dawb.workbench.plotting.tools.profile.BoxLineProfileTool"
            icon="icons/plot-tool-box-profile.png"
            id="org.dawb.workbench.plotting.tools.boxLineProfile"
            label="Box Line Profile"
            tooltip="A tool for showing box profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.radialprofile"
            class="org.dawb.workbench.plotting.tools.profile.RadialProfileTool"
            icon="icons/plot-tool-radial-integral.png"
            id="org.dawb.workbench.plotting.tools.radialProfileTool"
            label="Radial Profile"
            tooltip="A tool for showing radial profiles in sectors of images.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.aziprofile"
            class="org.dawb.workbench.plotting.tools.profile.AzimuthalProfileTool"
            icon="icons/plot-tool-azimuthal-integral.png"
            id="org.dawb.workbench.plotting.tools.azimuthalProfileTool"
            label="Azimuthal Profile"
            tooltip="A tool for showing azimuthal profiles in sectors of images.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.crosshairprofile"
            class="org.dawb.workbench.plotting.tools.profile.CrossHairProfileTool"
            icon="icons/plot-tool-cross-hairs.png"
            id="org.dawb.workbench.plotting.tools.crossHairProfileTool"
            label="Cross Hair Profile"
            tooltip="A tool for showing a profile slice through x and y.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.masking"
            class="org.dawb.workbench.plotting.tools.MaskingTool"
            icon="icons/plot-tool-masking.png"
            id="org.dawb.workbench.plotting.tools.maskingTool"
            label="Masking"
            tooltip="Masking the image and leaving data modified.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.ellipsefitting"
            class="org.dawb.workbench.plotting.tools.EllipseFittingTool"
            icon="icons/plot-tool-ellipse.png"
            id="org.dawb.workbench.plotting.tools.ellipseFittingTool"
            label="Ellipse Fitting"
            tooltip="A tool which shows the fitted ellipse parameters.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.history.HistoryTool"
            icon="icons/plot-tool-history.png"
            id="org.dawb.workbench.plotting.tools.xyHistoryTool"
            label="History"
            tooltip="A tool to compare plots between data files.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.profile.ZoomTool"
            icon="icons/zoom_box.png"
            id="org.dawb.workbench.plotting.tools.zoomTool"
            label="Zoom Profile"
            tooltip="A tool to zoom areas in a separate view.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.profile.ImageTableTool"
            icon="icons/zoom_table.png"
            id="org.dawb.workbench.plotting.tools.tableTool"
            label="Zoom Table"
            tooltip="A tool to zoom areas and view values in a table.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.history.ImageHistoryTool"
            icon="icons/plot-tool-image-compare.png"
            id="org.dawb.workbench.plotting.tools.imageCompareTool"
            label="Image History"
            tooltip="A tool to compare images between files by building up a history.">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-1d.png"
            id="org.dawb.workbench.plotting.views.toolPageView.1D"
            name="1D Tools"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-2d.png"
            id="org.dawb.workbench.plotting.views.toolPageView.2D"
            name="Image Tools"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-any.png"
            id="org.dawb.workbench.plotting.views.toolPageView.1D_and_2D"
            name="Tool"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-any.png"
            id="org.dawb.workbench.plotting.views.toolPageView.fixed"
            name=" "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.workbench.plotting.preference.FittingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.edna.workbench.preferences.root"
            class="org.dawb.workbench.plotting.preference.FittingPreferencePage"
            id="org.dawb.workbench.plotting.fittingPreferencePage"
            name="Fitting Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.workbench.plotting.tools.category"
            name="Plotting tools">
      </category>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/pixelInfo.xml"
            id="org.dawb.workbench.plotting.cheatsheet.pixel"
            name="Pixel information">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/peakfitting.xml"
            id="org.dawb.workbench.plotting.cheatsheet.peak"
            name="Peak fitting">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/measurement.xml"
            id="org.dawb.workbench.plotting.cheatsheet.measurement"
            name="Measurement">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/line_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.lineprofile"
            name="Line Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/box_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            name="Box Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/radial_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.radialprofile"
            name="Radial Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/azimuthal_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.aziprofile"
            name="Azimuthal Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/crosshair_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.crosshairprofile"
            name="Cross Hair Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/masking.xml"
            id="org.dawb.workbench.plotting.cheatsheet.masking"
            name="Masking">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/ellipse_fitting.xml"
            id="org.dawb.workbench.plotting.cheatsheet.ellipsefitting"
            name="Ellipse Fitting">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/derivativetool.xml"
            id="org.dawb.workbench.plotting.cheatsheet.derivative"
            name="Derivative Tool">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.dawb.workbench.plotting.tools.fitting.FittedPeaksExportWizard"
            icon="icons/plot-tool-peak-fit.png"
            id="org.dawb.workbench.plotting.fittedPeaksExportWizard"
            name="Fitted Peaks">
      </wizard>
      <wizard
            class="org.dawb.workbench.plotting.tools.reduction.DataReductionWizard"
            icon="icons/data-reduction.png"
            id="org.dawb.workbench.plotting.dataReductionExportWizard"
            name="Data Reduction">
      </wizard>
   </extension>

</plugin>
