<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.workbench.plotting.preference.PlottingPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.dawb.common.ui.plottingClass">
      <plottingSystem
            class="org.dawb.workbench.plotting.system.LightWeightPlottingSystem"
            id="org.dawb.workbench.editors.plotting.lightWeightPlottingSystem"
            visible_type="Lightweight">
      </plottingSystem>
   </extension>
   <extension
         point="org.dawb.common.ui.toolPage">
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.FittingTool"
            icon="icons/plot-tool-peak-fit.png"
            id="org.dawb.workbench.plotting.tools.fittingTool"
            label="Peak Fitting"
            tooltip="A tool for fitting peaks on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.DerivativeTool"
            icon="icons/plot-tool-derivative.png"
            id="org.dawb.workbench.plotting.tools.derivative"
            label="Derivative"
            tooltip="A tool which shows the derivative next to what is currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.MeasurementTool"
            icon="icons/plot-tool-measure.png"
            id="org.dawb.workbench.plotting.tools.measure"
            label="Measurement"
            tooltip="A tool which shows values of regions selected in the plotting.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.InfoBox"
            icon="icons/info.png"
            id="org.dawb.workbench.plotting.tools.InfoBox"
            label="Information box"
            tooltip="A tool for displaying information on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.LineProfileTool"
            icon="icons/plot-tool-line-profile.png"
            id="org.dawb.workbench.plotting.tools.lineProfileTool"
            label="Line Profile"
            tooltip="A tool for showing line profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.BoxProfileTool"
            icon="icons/plot-tool-box-profile.png"
            id="org.dawb.workbench.plotting.tools.boxProfileTool"
            label="Box Profile"
            tooltip="A tool for showing box profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.CrossHairProfileTool"
            icon="icons/plot-tool-cross-hairs.png"
            id="org.dawb.workbench.plotting.tools.crossHairProfileTool"
            label="Cross Hair Profile"
            tooltip="A tool for showing a profile slice through x and y.">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-1d.png"
            id="org.dawb.workbench.plotting.views.toolPageView.1D"
            name="1D Tools"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-2d.png"
            id="org.dawb.workbench.plotting.views.toolPageView.2D"
            name="Image Tools"
            restorable="true">
      </view>
      <view
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-any.png"
            id="org.dawb.workbench.plotting.views.toolPageView.1D_and_2D"
            name="Tool"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            category="org.dawb.workbench.application.data.analysis"
            class="org.dawb.workbench.plotting.views.ToolPageView"
            icon="icons/plot-tool-any.png"
            id="org.dawb.workbench.plotting.views.toolPageView.fixed"
            name="Fixed Tool"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawb.workbench.plotting.tools.FittingPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
