<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="DAWN"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="DAWN Science">
         <property
               name="appName"
               value="DAWN Science">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="5,220,590,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,240,590,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="windowImages"
               value="icons/Temp-16x16-icon.png,icons/Temp-48x48-icon.png">
         </property>
         <property
               name="aboutImage"
               value="icons/Temp-3Col-Splash.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.installationPages">
      <page
            class="org.dawnsci.product.plugin.about.ReleaseNotesPage"
            id="org.dawnsci.product.plugin.about.releasenotespage"
            name="Release Notes">
      </page>
   </extension>
</plugin>
