<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="channelColourScheme" name="Single Channel Colour Scheme" schema="schema/channelColourScheme.exsd"/>
   <extension-point id="colourScheme" name="Colour Scheme" schema="schema/colourScheme.exsd"/>
   <extension
         point="org.eclipse.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            class="org.dawnsci.plotting.histogram.HistogramToolPage"
            icon="icons/brightness_contrast.gif"
            id="org.dawnsci.plotting.histogram.histogram_tool_page"
            label="Colour mapping"
            tooltip="Colour mapping tool for adjusting contrast, brightness and other image colour settings"
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.histogram.ui.HistogramToolPage2"
            icon="icons/color--pencil.png"
            id="org.dawnsci.plotting.histogram.histogram_tool_page_2"
            label="Histogram"
            tooltip="Updated colour mapping tool for adjusting contrast, brightness and other image colour settings">
      </plotting_tool_page>      
      <plotting_tool_page
            class="org.dawnsci.plotting.histogram.HistogramTool3D"
            icon="icons/brightness_contrast.gif"
            id="org.dawnsci.plotting.histogram.histogram_tool_3d"
            label="Colour mapping"
            tooltip="Colour mapping tool for adjusting contrast, brightness and other image colour settings">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.dawnsci.plotting.histogram.channelColourScheme">
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.LinearTransferFunction"
            id="org.dawnsci.plotting.histogram.linear"
            name="Linear (y=x)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SquaredTransferFunction"
            id="org.dawnsci.plotting.histogram.squared"
            name="Squared (y = x**2)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ZeroTransferFunction"
            id="org.dawnsci.plotting.histogram.zero"
            name="Zero (y=0)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.HalfTransferFunction"
            id="org.dawnsci.plotting.histogram.half"
            name="Half (y=0.5)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.FullTransferFunction"
            id="org.dawnsci.plotting.histogram.full"
            name="Full (y=1)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SqrtTransferFunction"
            id="org.dawnsci.plotting.histogram.sqrt"
            name="Sqrt (y**2 = x)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.CubedTransferFunction"
            id="org.dawnsci.plotting.histogram.cubed"
            name="Cubed (y = x**3)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Sin90TransferFunction"
            id="org.dawnsci.plotting.histogram.sin90"
            name="sin90 (y = sin(x*90)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Sin720TransferFunction"
            id="org.dawnsci.plotting.histogram.sin720"
            name="sin720 (y = sin(x*720)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Sin360TransferFunction"
            id="org.dawnsci.plotting.histogram.sin360"
            name="sin360 (y = sin(x*360)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Sin180TransferFunction"
            id="org.dawnsci.plotting.histogram.sin180"
            name="sin180 (y = sin(x*180)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Cos90TransferFunction"
            id="org.dawnsci.plotting.histogram.cos90"
            name="cos90 (y = cos(x*90)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Cos720TransferFunction"
            id="org.dawnsci.plotting.histogram.cos720"
            name="cos720 (y = cos(x*720)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Cos360TransferFunction"
            id="org.dawnsci.plotting.histogram.cos360"
            name="cos360 (y = cos(x*360)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.Cos180TransferFunction"
            id="org.dawnsci.plotting.histogram.cos180"
            name="cos180 (y = cos(x*180)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NCDRedTransferFunction"
            id="org.dawnsci.plotting.histogram.ncdred"
            name="NCD Red ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NCDBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.ncdblue"
            name="NCD Blue ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NCDGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.ncdgreen"
            name="NCD Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.QuadTransferFunction"
            id="org.dawnsci.plotting.histogram.quad"
            name="Quad (y = x**4)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.LinearMinusHalfTransferFunction"
            id="org.dawnsci.plotting.histogram.linearminushalf"
            name="Linear offset (y = |x-0.5|)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ThreeXTransferFunction"
            id="org.dawnsci.plotting.histogram.threex"
            name="3X ( y = 3x )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ThreeXMinus1TransferFunction"
            id="org.dawnsci.plotting.histogram.threexminus1"
            name="3X-1 ( y = 3x - 1 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ThreeXMinus2TransferFunction"
            id="org.dawnsci.plotting.histogram.threexminus2"
            name="3X-2 ( y = 3x - 2 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.AbsThreeXMinus1Over2TransferFunction"
            id="org.dawnsci.plotting.histogram.threexminus1over2"
            name="|3X-1|/2 ( y = |3x-1|/2 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TwoXTransferFunction"
            id="org.dawnsci.plotting.histogram.twox"
            name="2x ( y = 2x )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TwoXMinusHalfTransferFunction"
            id="org.dawnsci.plotting.histogram.twoxminushalf"
            name="2x-0.5 ( y = 2x - 0.5 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TwoXMinusOneTransferFunction"
            id="org.dawnsci.plotting.histogram.twoxminus1"
            name="2x-1 ( y = 2x - 1 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.AbsTwoXMinusHalfTransferFunction"
            id="org.dawnsci.plotting.histogram.abstwoxminushalf"
            name="|2x-0.5| ( y = |2x - 0.5| )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.HighJetTransferFunction"
            id="org.dawnsci.plotting.histogram.highJet"
            name="High Jet">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.MidJetTransferFunction"
            id="org.dawnsci.plotting.histogram.midJet"
            name="Mid Jet">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.LowJetTransferFunction"
            id="org.dawnsci.plotting.histogram.lowJet"
            name="Low Jet">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TerrainRedTransferFunction"
            id="org.dawnsci.plotting.histogram.terrain_red"
            name="Terrain Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TerrainGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.terrain_green"
            name="Terrain Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.TerrainBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.terrain_blue"
            name="Terrain Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.MagmaGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.magma_green"
            name="Magma Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.MagmaBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.magma_blue"
            name="Magma Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.MagmaRedTransferFunction"
            id="org.dawnsci.plotting.histogram.magma_red"
            name="Magma Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.InfernoRedTransferFunction"
            id="org.dawnsci.plotting.histogram.inferno_red"
            name="Inferno Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.InfernoBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.inferno_blue"
            name="Inferno Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.InfernoGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.inferno_green"
            name="Inferno Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ViridisGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.viridis_green"
            name="Viridis Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ViridisBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.viridis_blue"
            name="Viridis Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.ViridisRedTransferFunction"
            id="org.dawnsci.plotting.histogram.viridis_red"
            name="Viridis Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PlasmaGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.plasma_green"
            name="Plasma Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PlasmaBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.plasma_blue"
            name="Plasma Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PlasmaRedTransferFunction"
            id="org.dawnsci.plotting.histogram.plasma_red"
            name="Plasma Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.EarthGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.earth_green"
            name="Earth Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.EarthRedTransferFunction"
            id="org.dawnsci.plotting.histogram.earth_red"
            name="Earth Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.EarthBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.earth_blue"
            name="Earth Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.CRMapGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.crmap_green"
            name="CRMap Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.CRMapRedTransferFunction"
            id="org.dawnsci.plotting.histogram.crmap_red"
            name="CRMap Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.CRMapBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.crmap_blue"
            name="CRMap Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.FlagGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.flag_green"
            name="Flag Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.FlagRedTransferFunction"
            id="org.dawnsci.plotting.histogram.flag_red"
            name="Flag Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.FlagBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.flag_blue"
            name="Flag Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PrismGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.prism_green"
            name="Prism Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PrismRedTransferFunction"
            id="org.dawnsci.plotting.histogram.prism_red"
            name="Prism Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.PrismBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.prism_blue"
            name="Prism Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NipyGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.nipy_green"
            name="Nipy Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NipyRedTransferFunction"
            id="org.dawnsci.plotting.histogram.nipy_red"
            name="Nipy Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.NipyBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.nipy_blue"
            name="Nipy Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentSpectralGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.spectral_green"
            name="Spectral Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentSpectralRedTransferFunction"
            id="org.dawnsci.plotting.histogram.spectral_red"
            name="Spectral Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentSpectralBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.spectral_blue"
            name="Spectral Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SeismicGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.seismic_green"
            name="Seismic Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SeismicRedTransferFunction"
            id="org.dawnsci.plotting.histogram.seismic_red"
            name="Seismic Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SeismicBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.seismic_blue"
            name="Seismic Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBluesGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.blues_green"
            name="Blues Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBluesRedTransferFunction"
            id="org.dawnsci.plotting.histogram.blues_red"
            name="Blues Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBluesBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.blues_blue"
            name="Blues Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBuGnGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.bugn_green"
            name="BuGn Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBuGnRedTransferFunction"
            id="org.dawnsci.plotting.histogram.bugn_red"
            name="BuGn Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.SequentialBuGnBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.bugn_blue"
            name="BuGn Blue">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentRYGGreenTransferFunction"
            id="org.dawnsci.plotting.histogram.divergent_ryg_green"
            name="DivergentRYG Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentRYGRedTransferFunction"
            id="org.dawnsci.plotting.histogram.divergent_ryg_red"
            name="DivergentRYG Red">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.plotting.histogram.functions.classes.DivergentRYGBlueTransferFunction"
            id="org.dawnsci.plotting.histogram.divergent_ryg_blue"
            name="DivergentRYG Blue">
      </transfer_function>
   </extension>
   <extension
         point="org.dawnsci.plotting.histogram.colourScheme">
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.linear"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.linear"
            id="org.dawnsci.plotting.histogram.greyscale"
            name="Gray Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.linear">
      </colour_scheme>
      <colour_scheme
     		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.squared"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.squared"
            id="org.dawnsci.plotting.histogram.squared"
            name="Squared Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.squared">
      </colour_scheme>
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.sqrt"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.sqrt"
            id="org.dawnsci.plotting.histogram.scale.sqrt"
            name="Sqrt Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.sin180"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.cubed"
            id="org.dawnsci.plotting.histogram.pm3d"
            name="Traditional pm3d (black-blue-red-yellow)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.ncdblue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.ncdgreen"
            id="org.dawnsci.plotting.histogram.ncd"
            name="NCD"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.ncdred">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.quad"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.linearminushalf"
            id="org.dawnsci.plotting.histogram.ncd"
            name="Green-red-violet"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.linear">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.linear"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.threexminus1over2"
            id="org.dawnsci.plotting.histogram.ocean"
            name="Ocean (green-blue-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.threexminus2">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.threexminus2"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.threexminus1"
            id="org.dawnsci.plotting.histogram.hot"
            name="Hot (black-red-yellow-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.threex">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.twoxminus1"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.twoxminushalf"
            id="org.dawnsci.plotting.histogram.afmhot"
            name="AFM hot (black-red-yellow-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.twox">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.cos90"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.sin180"
            id="org.dawnsci.plotting.histogram.rainbow"
            name="Rainbow (blue-green-yellow-red)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.abstwoxminushalf">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.lowJet"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.midJet"
            id="org.dawnsci.plotting.histogram.jet"
            name="Jet (Blue-Cyan-Green-Yellow-Red)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.highJet">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.terrain_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.terrain_green"
            id="org.dawnsci.plotting.histogram.terrain"
            name="Terrain (blue-green-yellow-brown-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.terrain_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.earth_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.earth_green"
            id="org.dawnsci.plotting.histogram.earth"
            name="Earth (dark blue-green-brown-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.earth_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.plasma_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.plasma_green"
            id="org.dawnsci.plotting.histogram.plasma"
            name="Plasma (blue-red-yellow)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.plasma_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.magma_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.magma_green"
            id="org.dawnsci.plotting.histogram.magma"
            name="Magma (black-red-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.magma_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.inferno_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.inferno_green"
            id="org.dawnsci.plotting.histogram.inferno"
            name="Inferno (black-red-yellow)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.inferno_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.viridis_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.viridis_green"
            id="org.dawnsci.plotting.histogram.viridis"
            name="Viridis (blue-green-yellow)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.viridis_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.blues_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.blues_green"
            id="org.dawnsci.plotting.histogram.blues"
            name="Blues (Sequential)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.blues_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.bugn_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.bugn_green"
            id="org.dawnsci.plotting.histogram.bugn"
            name="Blue-Green (Sequential)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.bugn_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.crmap_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.crmap_green"
            id="org.dawnsci.plotting.histogram.crmap"
            name="CRMap (black-blue-red-yellow-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.crmap_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.nipy_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.nipy_green"
            id="org.dawnsci.plotting.histogram.nipy"
            name="Nipy Spectral "
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.nipy_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.divergent_ryg_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.divergent_ryg_green"
            id="org.dawnsci.plotting.histogram.divergent_ryg"
            name="Red-Yellow-Green (Divergent)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.divergent_ryg_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.spectral_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.spectral_green"
            id="org.dawnsci.plotting.histogram.spectral"
            name="Spectral (Divergent)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.spectral_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.seismic_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.seismic_green"
            id="org.dawnsci.plotting.histogram.seismic"
            name="Seismic (Divergent)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.seismic_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.flag_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.flag_green"
            id="org.dawnsci.plotting.histogram.flag"
            name="Flag (Sine)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.flag_red">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.plotting.histogram.full"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.plotting.histogram.prism_blue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.plotting.histogram.prism_green"
            id="org.dawnsci.plotting.histogram.prism"
            name="Prism (Sine)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.plotting.histogram.prism_red">
      </colour_scheme>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/ColourMappingExample.xml"
            id="org.dawnsci.plotting.histogram.cheatsheet.colourmapping"
            name="Colour Mapping Example">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.dawnsci.plotting.histogram.service.PaletteService">
         <service
               serviceClass="org.eclipse.dawnsci.plotting.api.histogram.IPaletteService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawb.workbench.ui.visualizationPreferences"
            class="org.dawnsci.plotting.histogram.preferences.HistogramPreferencePage"
            id="org.dawnsci.plotting.histogram.colourMapPreferences"
            name="Histogram preferences">
      </page>
   </extension>

</plugin>
