<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.core.runtime.preferences">
         
      <initializer
            class="org.dawnsci.plotting.tools.preference.FittingPreferenceInitializer">
      </initializer>
      <initializer
            class="org.dawnsci.plotting.tools.preference.InfoPixelPreferenceInitializer">
      </initializer>
      <initializer
            class="org.dawnsci.plotting.tools.preference.RegionEditorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.dawnsci.plotting.tools.preference.detector.DiffractionDetectorPreferenceInitializer">
      </initializer>
      <initializer
            class="org.dawnsci.plotting.tools.preference.DiffractionToolPreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawnsci.plotting.tools.preference.FittingPreferencePage"
            id="org.dawb.workbench.plotting.fittingPreferencePage"
            name="Fitting Preferences">
      </page>
      <page
            category="org.dawb.workbench.ui.visualizationPreferences"
            class="org.dawnsci.plotting.tools.preference.InfoPixelPreferencePage"
            id="org.dawb.workbench.plotting.infoPixelPreferencePage"
            name="Pixel Information Preferences">
      </page>
      <page
            category="org.dawnsci.preferences.root"
            class="org.dawnsci.plotting.tools.preference.RegionEditorPreferencePage"
            id="org.dawb.workbench.plotting.regionEditorPreferencePage"
            name="Region Editor Preferences">
      </page>
      <page
            category="org.dawnsci.preferences.root"
            class="org.eclipse.ui.internal.dialogs.EmptyPreferencePage"
            id="org.dawnsci.preferences.diffraction"
            name="Diffraction">
      </page>
      <page
            category="org.dawnsci.preferences.diffraction"
            class="org.dawnsci.plotting.tools.preference.diffraction.DiffractionPreferencePage"
            id="org.dawb.workbench.plotting.preference.diffraction.calibrantPreferencePage"
            name="Calibrants">
      </page>
      <page
            category="org.dawnsci.preferences.diffraction"
            class="org.dawnsci.plotting.tools.preference.DiffractionDefaultsPreferencePage"
            id="org.dawb.workbench.plotting.preference.diffraction.defaultsPreferencePage"
            name="Diffraction Metadata Defaults">
      </page>
      <page
            category="org.dawnsci.preferences.diffraction"
            class="org.dawnsci.plotting.tools.preference.detector.DiffractionDetectorPreferencePage"
            id="org.dawnsci.plotting.preference.detector"
            name="Diffraction Detectors">
      </page>
     
   </extension>

   <extension
         point="org.dawnsci.plotting.api.toolPage">
      <plotting_tool_category
            icon="icons/axis.png"
            id="org.dawnsci.plotting.tools.category.Profile"
            label="Profile">
      </plotting_tool_category>
      <plotting_tool_category
            icon="icons/flask.png"
            id="org.dawnsci.plotting.tools.category.Science"
            label="Science">
      </plotting_tool_category>
      <plotting_tool_category
            icon="icons/expression.png"
            id="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            label="Maths and Fitting">
      </plotting_tool_category>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.peak"
            class="org.dawnsci.plotting.tools.fitting.PeakFittingTool"
            icon="icons/plot-tool-peak-fit.png"
            id="org.dawb.workbench.plotting.tools.fittingTool"
            label="Peak Fitting"
            tooltip="A tool for fitting peaks on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.derivative"
            class="org.dawnsci.plotting.tools.DerivativeTool"
            icon="icons/plot-tool-derivative.png"
            id="org.dawb.workbench.plotting.tools.derivative"
            label="Derivative"
            tooltip="A tool which shows the derivative next to what is currently plotted."
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.measurement"
            class="org.dawnsci.plotting.tools.region.MeasurementTool"
            icon="icons/plot-tool-measure.png"
            id="org.dawb.workbench.plotting.tools.measure.1d"
            label="Measurement"
            tooltip="A tool which shows values of regions selected in the plotting.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.measurement"
            class="org.dawnsci.plotting.tools.region.MeasurementTool"
            icon="icons/plot-tool-measure.png"
            id="org.dawb.workbench.plotting.tools.measure.2d"
            label="Measurement"
            tooltip="A tool which shows values of regions selected in the plotting.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.region.editor"
            class="org.dawnsci.plotting.tools.region.RegionEditTool"
            icon="icons/plot-tool-region-edit.png"
            id="org.dawb.workbench.plotting.tools.region.editor"
            label="Region Editor"
            tooltip="A tool which manages rectangular regions.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.pixel"
            class="org.dawnsci.plotting.tools.InfoPixelTool1D"
            icon="icons/info.png"
            id="org.dawb.workbench.plotting.tools.InfoPixel1D"
            label="XY Information"
            tooltip="A tool for displaying information on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.pixel"
            class="org.dawnsci.plotting.tools.InfoPixelTool2D"
            icon="icons/info.png"
            id="org.dawb.workbench.plotting.tools.InfoPixel2D"
            label="Pixel Information"
            tooltip="A tool for displaying information on the data currently plotted.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.lineprofile"
            class="org.dawnsci.plotting.tools.profile.LineProfileTool"
            icon="icons/plot-tool-line-profile.png"
            id="org.dawb.workbench.plotting.tools.lineProfileTool"
            label="Line Profile"
            tooltip="A tool for showing line profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            class="org.dawnsci.plotting.tools.profile.BoxProfileTool"
            icon="icons/plot-tool-box-profile.png"
            id="org.dawb.workbench.plotting.tools.boxProfileTool"
            label="Box Profile"
            tooltip="A tool for showing box profiles of images.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            class="org.dawnsci.plotting.tools.profile.BoxLineProfileTool"
            icon="icons/plot-tool-color-box.png"
            id="org.dawb.workbench.plotting.tools.boxLineProfileTool"
            label="Box Line Profile"
            tooltip="A tool for showing box profiles of images."
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            class="org.dawnsci.plotting.tools.profile.PerimeterBoxProfileTool"
            icon="icons/plot-tool-color-box.png"
            id="org.dawb.workbench.plotting.tools.perimeterBoxProfileTool"
            label="Perimeter Box Profile"
            tooltip="A tool for showing box perimeter profiles of images."
            visible="true">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.grid"
            class="org.dawnsci.plotting.tools.grid.GridTool"
            icon="icons/plot-tool-box-grid.png"
            id="org.dawb.workbench.plotting.tools.gridTool"
            label="Grid"
            tooltip="A tool for showing a grid"
            visible="true">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.radialprofile"
            class="org.dawnsci.plotting.tools.profile.RadialProfileTool"
            icon="icons/plot-tool-radial-integral.png"
            id="org.dawb.workbench.plotting.tools.radialProfileTool"
            label="Radial Profile"
            tooltip="A tool for showing radial profiles in sectors of images.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.aziprofile"
            class="org.dawnsci.plotting.tools.profile.AzimuthalProfileTool"
            icon="icons/plot-tool-azimuthal-integral.png"
            id="org.dawb.workbench.plotting.tools.azimuthalProfileTool"
            label="Azimuthal Profile"
            tooltip="A tool for showing azimuthal profiles in sectors of images.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.crosshairprofile"
            class="org.dawnsci.plotting.tools.profile.CrossHairProfileTool"
            icon="icons/plot-tool-cross-hairs.png"
            id="org.dawb.workbench.plotting.tools.crossHairProfileTool"
            label="Cross Hair Profile"
            tooltip="A tool for showing a profile slice through x and y.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Profile"
            class="org.dawnsci.plotting.tools.profile.ZoomTool"
            icon="icons/zoom_box.png"
            id="org.dawb.workbench.plotting.tools.zoomTool"
            label="Zoom Profile"
            tooltip="A tool to zoom areas in a separate view.">
      </plotting_tool_page>
      <plotting_tool_page
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.masking"
            class="org.dawnsci.plotting.tools.masking.MaskingTool"
            icon="icons/plot-tool-masking.png"
            id="org.dawb.workbench.plotting.tools.maskingTool"
            label="Masking"
            tooltip="Masking the image and leaving data modified.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            cheat_sheet_id="org.dawb.workbench.plotting.cheatsheet.ellipsefitting"
            class="org.dawnsci.plotting.tools.EllipseFittingTool"
            icon="icons/plot-tool-ellipse.png"
            id="org.dawb.workbench.plotting.tools.ellipseFittingTool"
            label="Circle/Ellipse Fitting"
            tooltip="A tool which shows the fitted ellipse parameters."
            visible="true">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.history.HistoryTool"
            icon="icons/plot-tool-history.png"
            id="org.dawb.workbench.plotting.tools.xyHistoryTool"
            label="History"
            tooltip="A tool to compare plots between data files.">
      </plotting_tool_page>
      <!--
      <plotting_tool_page
            class="org.dawb.workbench.plotting.tools.profile.ImageTableTool"
            icon="icons/zoom_table.png"
            id="org.dawb.workbench.plotting.tools.tableTool"
            label="Zoom Table"
            tooltip="A tool to zoom areas and view values in a table.">
      </plotting_tool_page>
      -->
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.history.ImageHistoryTool"
            icon="icons/plot-tool-image-compare.png"
            id="org.dawb.workbench.plotting.tools.imageCompareTool"
            label="Image History"
            tooltip="A tool to compare images between files by building up a history.">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            class="org.dawnsci.plotting.tools.fitting.LineFittingTool"
            icon="icons/plot-tool-line-fit.png"
            id="org.dawb.workbench.plotting.plotting_tool_page4"
            label="Line Fitting">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Science"
            class="org.dawnsci.plotting.tools.diffraction.DiffractionTool"
            icon="icons/plot-tool-diffraction.png"
            id="org.dawb.workbench.plotting.tools.diffraction.Diffraction"
            label="Diffraction"
            tooltip="A tool to allow interpretation/modification of diffraction data">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            class="org.dawnsci.plotting.tools.fitting.FunctionFittingTool"
            icon="icons/plot-tool-line-fit.png"
            id="org.dawb.workbench.plotting.function_fitting_tool"
            label="Function Fitting"
            tooltip="Tool for fitting a generic function to some data">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.window.WindowTool"
            icon="icons/plot-tool-window.png"
            id="org.dawb.workbench.plotting.tools.windowTool"
            label="Window"
            tooltip="A tool to set a window used for 3D plotting.">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.RegionSumTool"
            icon="icons/sum.png"
            id="org.dawb.workbench.plotting.tools.regionSumTool"
            label="Region Sum"
            tooltip="A tool that shows the sum of the region selection"
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.processing.ImageNormalisationProcessTool"
            icon="icons/process_color.png"
            id="org.dawb.workbench.plotting.tools.imageNormalisationProcessTool"
            label="Image Normalisation Processing"
            tooltip="A tool for normalising an image"
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.processing.ImageARPESRemappingProcessTool"
            icon="icons/process_color.png"
            id="org.dawb.workbench.plotting.tools.imageARPESRemappingProcessTool"
            label="Image Remapping ARPES Processing"
            tooltip="A tool for remapping an ARPES image"
            visible="false">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            class="org.dawnsci.plotting.tools.expressions.ExpressionTool"
            icon="icons/add_expression.png"
            id="org.dawb.workbench.plotting.tools.expressionConsoleTool"
            label="Expression Console"
            visible="true">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Science"
            class="org.dawnsci.plotting.tools.powdercheck.PowderCheckTool"
            icon="icons/CalibrationCheck.png"
            id="org.dawnsci.plotting.tools.powdercheck"
            label="Powder Calibration Check"
            tooltip="Check calibration of a 2D powder diffraction image">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.category.Science"
            class="org.dawnsci.plotting.tools.powderintegration.PowderIntegrationTool"
            icon="icons/PowderIntegration.png"
            id="org.dawnsci.plotting.tools.powderintegrationtool"
            label="Powder Integration">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.plotting.tools.hyper2d.Hyper2DTool"
            icon="icons/cutter_line.png"
            id="org.dawnsci.plotting.tools.plotting_tool_hyper2d"
            label="Hyper2d"
            visible="true">
      </plotting_tool_page>
      <plotting_tool_page
            category="org.dawnsci.plotting.tools.plotting_tool_category.fitting"
            class="org.dawnsci.plotting.tools.DerivativeToolExternalPlot"
            icon="icons/plot-tool-derivative.png"
            id="org.dawnsci.plotting.tools.DerivativeToolExternalPlot"
            label="Derivative View">
      </plotting_tool_page>
   </extension>

  <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.dawb.workbench.application.data.analysis.tools"
            class="org.dawnsci.plotting.tools.RegionSumView"
            icon="icons/sum.png"
            id="uk.ac.diamond.scisoft.arpes.regionSumView"
            name="Region Sum"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.dawb.workbench.plotting.tools.category"
            name="Plotting tools">
      </category>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/pixelInfo.xml"
            id="org.dawb.workbench.plotting.cheatsheet.pixel"
            name="Pixel information">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/peakfitting.xml"
            id="org.dawb.workbench.plotting.cheatsheet.peak"
            name="Peak fitting">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/measurement.xml"
            id="org.dawb.workbench.plotting.cheatsheet.measurement"
            name="Measurement">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/line_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.lineprofile"
            name="Line Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/box_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.boxprofile"
            name="Box Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/radial_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.radialprofile"
            name="Radial Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/azimuthal_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.aziprofile"
            name="Azimuthal Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/crosshair_profile.xml"
            id="org.dawb.workbench.plotting.cheatsheet.crosshairprofile"
            name="Cross Hair Profile">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/masking.xml"
            id="org.dawb.workbench.plotting.cheatsheet.masking"
            name="Masking">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/ellipse_fitting.xml"
            id="org.dawb.workbench.plotting.cheatsheet.ellipsefitting"
            name="Ellipse Fitting">
      </cheatsheet>
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/derivativetool.xml"
            id="org.dawb.workbench.plotting.cheatsheet.derivative"
            name="Derivative Tool">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="org.dawnsci.plotting.tools.fitting.FittedPeaksExportWizard"
            icon="icons/plot-tool-peak-fit.png"
            id="org.dawb.workbench.plotting.fittedPeaksExportWizard"
            name="Fitted Peaks">
      </wizard>
      <wizard
            class="org.dawnsci.plotting.tools.reduction.DataReductionWizard"
            icon="icons/data-reduction.png"
            id="org.dawb.workbench.plotting.dataReductionExportWizard"
            name="Data Reduction">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="org.dawnsci.plotting.tools.preference.diffraction.AddCalibrantWizard"
            id="org.dawb.workbench.plotting.preference.diffraction.addCalibrantWizard"
            name="Add Calibrant">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.dawnsci.intro.universalConfig"
            content="intro/tutorials.xml">
      </configExtension>
   </extension>

</plugin>
