<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension
         point="org.dawnsci.plotting.api.plottingClass">
      <plottingSystem
            class="org.dawnsci.plotting.system.PlottingSystemImpl"
            id="org.dawb.workbench.editors.plotting.lightWeightPlottingSystem"
            visible_type="Lightweight">
      </plottingSystem>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.dawnsci.plotting.system.preference.ToolbarConfigurationInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.dawb.workbench.ui.visualizationPreferences"
            class="org.dawnsci.plotting.system.preference.ToolbarConfigurationPreferencePage"
            id="org.dawnsci.plotting.system.toolbarPreferencePage"
            name="Plot Toolbar">
      </page>
      <page
            category="org.dawb.workbench.ui.visualizationPreferences"
            class="org.dawnsci.plotting.system.preference.ErrorBarPreferencePage"
            id="org.dawnsci.plotting.system.errorBarPreferencePage"
            name="Error Bars">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <!-- default commands in main menu and main toolbar (save as, print and copy) active when the plot view is active -->
      <handler
            class="org.dawnsci.plotting.system.PlotCopyHandler"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotViewDP">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotViewMultiple">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView1">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView2">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView3">
                     </equals>
                     <equals
                           value="org.dawb.workbench.editors.ImageEditor">
                     </equals>
                  </or>
               </with>
         </activeWhen>
      </handler>
      <handler
            class="org.dawnsci.plotting.system.PlotPrintHandler"
            commandId="org.eclipse.ui.file.print">
         <activeWhen>
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotViewDP">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotViewMultiple">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView1">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView2">
                     </equals>
                     <equals
                           value="uk.ac.diamond.scisoft.analysis.rcp.plotView3">
                     </equals>
                     <equals
                           value="org.dawb.workbench.editors.ImageEditor">
                     </equals>
                  </or>
               </with>
         </activeWhen>
      </handler>
   </extension>
   
   <!-- Example of how to add a custom action to the plotting toolbar.
   
   <extension
         point="org.dawnsci.plotting.api.plottingAction">
      <plotting_action
            command_id="org.dawnsci.plotting.system.example.TestCommand"
            icon="icons/error.png"
            id="org.dawnsci.plotting.system.test1">
      </plotting_action>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.plotting.system.example.TestCommand"
            id="org.dawnsci.plotting.system.example.TestCommand"
            name="Test Command">
      </command>
   </extension>
   
   End example --> 
   
</plugin>
