<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.rcp.histogram.channelColourScheme" name="Single Channel Colour Scheme" schema="schema/channelColourScheme.exsd"/>
   <extension-point id="org.dawnsci.rcp.histogram.colourScheme" name="Colour Scheme" schema="schema/colourScheme.exsd"/>
   <extension
         point="org.dawnsci.plotting.api.toolPage">
      <plotting_tool_page
            class="org.dawnsci.rcp.histogram.HistogramToolPage"
            icon="icons/brightness_contrast.gif"
            id="org.dawnsci.rcp.histogram.histogram_tool_page"
            label="Colour mapping"
            tooltip="Colour mapping tool for adjusting contrast, brightness and other image colour settings">
      </plotting_tool_page>
      <plotting_tool_page
            class="org.dawnsci.rcp.histogram.HistogramTool3D"
            icon="icons/brightness_contrast.gif"
            id="org.dawnsci.rcp.histogram.histogram_tool_3d"
            label="Colour mapping"
            tooltip="Colour mapping tool for adjusting contrast, brightness and other image colour settings">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.dawnsci.rcp.histogram.channelColourScheme">
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.LinearTransferFunction"
            id="org.dawnsci.rcp.histogram.linear"
            name="Linear (y=x)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.SquaredTransferFunction"
            id="org.dawnsci.rcp.histogram.squared"
            name="Squared (y = x**2)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.ZeroTransferFunction"
            id="org.dawnsci.rcp.histogram.zero"
            name="Zero (y=0)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.HalfTransferFunction"
            id="org.dawnsci.rcp.histogram.half"
            name="Half (y=0.5)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.FullTransferFunction"
            id="org.dawnsci.rcp.histogram.full"
            name="Full (y=1)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.SqrtTransferFunction"
            id="org.dawnsci.rcp.histogram.sqrt"
            name="Sqrt (y**2 = x)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.CubedTransferFunction"
            id="org.dawnsci.rcp.histogram.cubed"
            name="Cubed (y = x**3)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Sin90TransferFunction"
            id="org.dawnsci.rcp.histogram.sin90"
            name="sin90 (y = sin(x*90)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Sin720TransferFunction"
            id="org.dawnsci.rcp.histogram.sin720"
            name="sin720 (y = sin(x*720)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Sin360TransferFunction"
            id="org.dawnsci.rcp.histogram.sin360"
            name="sin360 (y = sin(x*360)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Sin180TransferFunction"
            id="org.dawnsci.rcp.histogram.sin180"
            name="sin180 (y = sin(x*180)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Cos90TransferFunction"
            id="org.dawnsci.rcp.histogram.cos90"
            name="cos90 (y = cos(x*90)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Cos720TransferFunction"
            id="org.dawnsci.rcp.histogram.cos720"
            name="cos720 (y = cos(x*720)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Cos360TransferFunction"
            id="org.dawnsci.rcp.histogram.cos360"
            name="cos360 (y = cos(x*360)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.Cos180TransferFunction"
            id="org.dawnsci.rcp.histogram.cos180"
            name="cos180 (y = cos(x*180)) ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.NCDRedTransferFunction"
            id="org.dawnsci.rcp.histogram.ncdred"
            name="NCD Red ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.NCDBlueTransferFunction"
            id="org.dawnsci.rcp.histogram.ncdblue"
            name="NCD Blue ">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.NCDGreenTransferFunction"
            id="org.dawnsci.rcp.histogram.ncdgreen"
            name="NCD Green">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.QuadTransferFunction"
            id="org.dawnsci.rcp.histogram.quad"
            name="Quad (y = x**4)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.LinearMinusHalfTransferFunction"
            id="org.dawnsci.rcp.histogram.linearminushalf"
            name="Linear offset (y = |x-0.5|)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.ThreeXTransferFunction"
            id="org.dawnsci.rcp.histogram.threex"
            name="3X ( y = 3x )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.ThreeXMinus1TransferFunction"
            id="org.dawnsci.rcp.histogram.threexminus1"
            name="3X-1 ( y = 3x - 1 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.ThreeXMinus2TransferFunction"
            id="org.dawnsci.rcp.histogram.threexminus2"
            name="3X-2 ( y = 3x - 2 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.AbsThreeXMinus1Over2TransferFunction"
            id="org.dawnsci.rcp.histogram.threexminus1over2"
            name="|3X-1|/2 ( y = |3x-1|/2 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.TwoXTransferFunction"
            id="org.dawnsci.rcp.histogram.twox"
            name="2x ( y = 2x )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.TwoXMinusHalfTransferFunction"
            id="org.dawnsci.rcp.histogram.twoxminushalf"
            name="2x-0.5 ( y = 2x - 0.5 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.TwoXMinusOneTransferFunction"
            id="org.dawnsci.rcp.histogram.twoxminus1"
            name="2x-1 ( y = 2x - 1 )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.AbsTwoXMinusHalfTransferFunction"
            id="org.dawnsci.rcp.histogram.abstwoxminushalf"
            name="|2x-0.5| ( y = |2x - 0.5| )">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.HighJetTransferFunction"
            id="org.dawnsci.rcp.histogram.highJet"
            name="High Jet">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.MidJetTransferFunction"
            id="ororg.dawnsci.rcp.histogram.midJet"
            name="Mid Jet">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.LowJetTransferFunction"
            id="org.dawnsci.rcp.histogram.lowJet"
            name="Low Jet">
      </transfer_function>
   </extension>
   <extension
         point="org.dawnsci.rcp.histogram.colourScheme">
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.linear"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.linear"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.linear"
            id="org.dawnsci.rcp.histogram.greyscale"
            name="Gray Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.linear">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="true"
            alpha_transfer_function="org.dawnsci.rcp.histogram.linear"
            blue_inverted="true"
            blue_transfer_function="org.dawnsci.rcp.histogram.linear"
            green_inverted="true"
            green_transfer_function="org.dawnsci.rcp.histogram.linear"
            id="org.dawnsci.rcp.histogram.filmNegative"
            name="Film Negative"
            red_inverted="true"
            red_transfer_function="org.dawnsci.rcp.histogram.linear">
      </colour_scheme>
      <colour_scheme
     		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.squared"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.squared"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.squared"
            id="org.dawnsci.rcp.histogram.squared"
            name="Squared Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.squared">
      </colour_scheme>
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            id="org.dawnsci.rcp.histogram.scale.sqrt"
            name="Sqrt Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="true"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="true"
            blue_transfer_function="org.dawnsci.rcp.histogram.squared"
            green_inverted="true"
            green_transfer_function="org.dawnsci.rcp.histogram.squared"
            id="org.dawnsci.rcp.histogram.squaredfilmnegative"
            name="Squared Film Negative"
            red_inverted="true"
            red_transfer_function="org.dawnsci.rcp.histogram.squared">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="true"
            alpha_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            blue_inverted="true"
            blue_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            green_inverted="true"
            green_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            id="org.dawnsci.rcp.histogram.filmNegativeSqrt"
            name="Film Negative Sqrt"
            red_inverted="true"
            red_transfer_function="org.dawnsci.rcp.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.sin180"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.cubed"
            id="org.dawnsci.rcp.histogram.pm3d"
            name="Traditional pm3d (black-blue-red-yellow)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.ncdblue"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.ncdgreen"
            id="org.dawnsci.rcp.histogram.ncd"
            name="NCD"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.ncdred">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.quad"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.linearminushalf"
            id="org.dawnsci.rcp.histogram.ncd"
            name="Green-red-violet"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.linear">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.linear"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.threexminus1over2"
            id="org.dawnsci.rcp.histogram.ocean"
            name="Ocean (green-blue-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.threexminus2">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.threexminus2"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.threexminus1"
            id="org.dawnsci.rcp.histogram.hot"
            name="Hot (black-red-yellow-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.threex">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.cos90"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.sin180"
            id="org.dawnsci.rcp.histogram.rainbow"
            name="Rainbow (blue-green-yellow-red)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.abstwoxminushalf">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.twoxminus1"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.twoxminushalf"
            id="org.dawnsci.rcp.histogram.afmhot"
            name="AFM hot (black-red-yellow-white)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.twox">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.zero"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.lowJet"
            green_inverted="false"
            green_transfer_function="ororg.dawnsci.rcp.histogram.midJet"
            id="org.dawnsci.rcp.histogram.jet"
            name="Jet (Blue-Cyan-Green-Yellow-Red)"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.highJet">
      </colour_scheme>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.dawb.workbench.plotting.tools.category"
            composite="false"
            contentFile="cheat/ColourMappingExample.xml"
            id="org.dawnsci.rcp.histogram.cheatsheet.colourmapping"
            name="Colour Mapping Example">
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="org.dawnsci.rcp.service.PaletteService">
         <service
               serviceClass="org.dawb.common.services.IPaletteService">
         </service>
      </serviceFactory>
   </extension>

</plugin>
