<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.rcp.histogram.channelColourScheme" name="Single Channel Colour Scheme" schema="schema/channelColourScheme.exsd"/>
   <extension-point id="org.dawnsci.rcp.histogram.colourScheme" name="Colour Scheme" schema="schema/colourScheme.exsd"/>
   <extension
         point="org.dawb.common.ui.toolPage">
      <plotting_tool_page
            class="org.dawnsci.rcp.histogram.HistogramToolPage"
            icon="icons/brightness_contrast.gif"
            id="org.dawnsci.rcp.histogram.histogram_tool_page"
            label="Colour mapping"
            tooltip="Colour mapping tool for adjusting contrast, brightness and other image colour settings">
      </plotting_tool_page>
   </extension>
   <extension
         point="org.dawnsci.rcp.histogram.channelColourScheme">
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.LinearTransferFunction"
            id="org.dawnsci.rcp.histogram.linear"
            name="Linear (y=x)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.SquaredTransferFunction"
            id="org.dawnsci.rcp.histogram.squared"
            name="Squared (y = x**2)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.ZeroTransferFunction"
            id="org.dawnsci.rcp.histogram.zero"
            name="Zero (y=0)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.HalfTransferFunction"
            id="org.dawnsci.rcp.histogram.half"
            name="Half (y=0.5)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.FullTransferFunction"
            id="org.dawnsci.rcp.histogram.full"
            name="Full (y=1)">
      </transfer_function>
      <transfer_function
            array_provider_class="org.dawnsci.rcp.functions.classes.SqrtTransferFunction"
            id="org.dawnsci.rcp.histogram.sqrt"
            name="Sqrt (y**2 = x)">
      </transfer_function>
   </extension>
   <extension
         point="org.dawnsci.rcp.histogram.colourScheme">
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.linear"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.linear"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.linear"
            id="org.dawnsci.rcp.histogram.greyscale"
            name="Gray Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.linear">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="true"
            alpha_transfer_function="org.dawnsci.rcp.histogram.linear"
            blue_inverted="true"
            blue_transfer_function="org.dawnsci.rcp.histogram.linear"
            green_inverted="true"
            green_transfer_function="org.dawnsci.rcp.histogram.linear"
            id="org.dawnsci.rcp.histogram.filmNegative"
            name="Film Negative"
            red_inverted="true"
            red_transfer_function="org.dawnsci.rcp.histogram.linear">
      </colour_scheme>
      <colour_scheme
     		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.squared"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.squared"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.squared"
            id="org.dawnsci.rcp.histogram.squared"
            name="Squared Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.squared">
      </colour_scheme>
      <colour_scheme
      		alpha_inverted="false"
            alpha_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            blue_inverted="false"
            blue_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            green_inverted="false"
            green_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            id="org.dawnsci.rcp.histogram.scale.sqrt"
            name="Sqrt Scale"
            red_inverted="false"
            red_transfer_function="org.dawnsci.rcp.histogram.sqrt">
      </colour_scheme>
      <colour_scheme
            alpha_inverted="true"
            alpha_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            blue_inverted="true"
            blue_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            green_inverted="true"
            green_transfer_function="org.dawnsci.rcp.histogram.sqrt"
            id="org.dawnsci.rcp.histogram.filmNegativeSqrt"
            name="Film Negative Sqrt"
            red_inverted="true"
            red_transfer_function="org.dawnsci.rcp.histogram.sqrt">
      </colour_scheme>
   </extension>

</plugin>
