<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.dawnsci.common.functions" name="Functions" schema="schema/functions.exsd"/>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="uk.ac.diamond.scisoft.analysis.fitting.functions.IFunction"
            class="org.dawnsci.common.widgets.gda.function.detail.DetailsPaneFactory">
         <adapter
               type="org.dawnsci.common.widgets.gda.function.detail.IFunctionDetailPane">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.diamond.scisoft.analysis.fitting.functions.Polynomial"
            class="org.dawnsci.common.widgets.gda.function.detail.DetailsPaneFactory">
         <adapter
               type="org.dawnsci.common.widgets.gda.function.detail.IFunctionDetailPane">
         </adapter>
      </factory>
      <factory
            adaptableType="uk.ac.diamond.scisoft.analysis.fitting.functions.IParameter"
            class="org.dawnsci.common.widgets.gda.function.detail.DetailsPaneFactory">
         <adapter
               type="org.dawnsci.common.widgets.gda.function.detail.IFunctionDetailPane">
         </adapter>
      </factory>
      <factory
            adaptableType="org.dawnsci.common.widgets.gda.function.detail.JexlExpressionFunctionDetailPane"
            class="org.dawnsci.common.widgets.gda.function.detail.DetailsPaneFactory">
         <adapter
               type="org.dawnsci.common.widgets.gda.function.detail.IFunctionDetailPane">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Add a new function the the tree"
            id="org.dawnsci.common.function.new"
            name="New Function">
      </command>
      <category
            description="Commands for operating on functions"
            id="org.dawnsci.common.function"
            name="function">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.dawnsci.common.function.new"
            disabledIcon="IMG_OBJ_ADD_DISABLED"
            icon="IMG_OBJ_ADD">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.dawnsci.common.function.new"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="INSERT">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.dawnsci.common.widgets.gda.function.descriptors.FunctionDescriptor"
            class="org.dawnsci.common.widgets.gda.function.internal.FunctionContentProposalAdapterFactory">
         <adapter
               type="org.eclipse.jface.fieldassist.IContentProposalProvider">
         </adapter>
      </factory>
      <factory
            adaptableType="org.dawnsci.common.widgets.gda.function.jexl.JexlExpressionFunctionDescriptor"
            class="org.dawnsci.common.widgets.gda.function.internal.FunctionContentProposalAdapterFactory">
         <adapter
               type="org.eclipse.jface.fieldassist.IContentProposalProvider">
         </adapter>
      </factory>
   </extension>

   <extension
         point="org.dawnsci.common.functions">
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            id="uk.ac.diamond.scisoft.analysis.box"
            name="Box">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Cubic"
            id="uk.ac.diamond.scisoft.analysis.cubic"
            name="Cubic">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Fermi"
            id="uk.ac.diamond.scisoft.analysis.fermi"
            name="Fermi">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.FermiGauss"
            id="uk.ac.diamond.scisoft.analysis.fermigauss"
            name="Fermi * Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Gaussian"
            id="uk.ac.diamond.scisoft.analysis.gaussian"
            name="Gaussian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Lorentzian"
            id="uk.ac.diamond.scisoft.analysis.lorentzian"
            name="Lorentzian">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PearsonVII"
            id="uk.ac.diamond.scisoft.analysis.pearsonvii"
            name="PearsonVII">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Polynomial"
            id="uk.ac.diamond.scisoft.analysis.polynomial"
            name="Polynomial">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.PseudoVoigt"
            id="uk.ac.diamond.scisoft.analysis.pseudovoigt"
            name="PseudoVoigt">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Box"
            id="uk.ac.diamond.scisoft.analysis.box"
            name="Box">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.StraightLine"
            id="uk.ac.diamond.scisoft.analysis.linear"
            name="Linear">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Add"
            id="uk.ac.diamond.scisoft.analysis.add"
            name="Add">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Divide"
            id="uk.ac.diamond.scisoft.analysis.divide"
            name="Divide">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Multiply"
            id="uk.ac.diamond.scisoft.analysis.multiply"
            name="Multiply">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Subtract"
            id="uk.ac.diamond.scisoft.analysis.subtract"
            name="Subtract">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Convolve"
            id="uk.ac.diamond.scisoft.analysis.convolve"
            name="Convolve">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.Quadratic"
            id="uk.ac.diamond.scisoft.analysis.quadratic"
            name="Quadratic">
      </function>
      <function
            class="uk.ac.diamond.scisoft.analysis.fitting.functions.SmoothGoldEdgeFunction"
            id="uk.ac.diamond.scisoft.arpes.smoothedgoldedge"
            name="Smoothed Gold Edge">
      </function>
   </extension>

</plugin>
