<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/map.png"
            id="org.dawnsci.mapping.ui.mapview"
            name="Map"
            restorable="true">
      </view>
      <view
            class="org.eclipse.dawnsci.plotting.api.VanillaPlottingSystemView"
            icon="icons/layers-stack.png"
            id="org.dawnsci.mapping.ui.spectrumview"
            name="Detector Data"
            restorable="true">
      </view>
      <view
            allowMultiple="true"
            class="org.dawnsci.mapping.ui.MappedDataView"
            icon="icons/mapfolder.png"
            id="org.dawnsci.mapping.ui.mappeddataview"
            name="Mapped Data"
            restorable="true">
      </view>
      <view
            class="org.dawnsci.mapping.ui.DebugRemoteMapView"
            id="org.dawnsci.mapping.ui.debugremotemap"
            name="Debug Remote Map"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.dawnsci.mapping.ui.actions.MappingActionProvider"
            id="org.dawnsci.mapping.ui.actions.MappingActionProvider"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.mapping.ui.dawn.mappingperspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.dawnsci.mapping.ui.actions.MappingActionProvider"
            id="org.dawnsci.mapping.ui.actions.MappingActionProvider2"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
         <enablement>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="org.dawnsci.mapping.ui.dawn.mappingperspective">
               </equals>
            </with>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="org.dawnsci.mapping.ui.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dawnsci.mapping.ui.fileOpenActionSet"
            label="Open File...">
         <action
               class="org.dawnsci.mapping.ui.actions.OpenLocalFileAction"
               id="org.dawnsci.mapping.ui.action1"
               label="Open Map File..."
               menubarPath="file/new"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.dawnsci.fileviewer.openFile">
      <fileOpen
            class="org.dawnsci.mapping.ui.actions.NavigatorOpenAction"
            id="org.dawnsci.mapping.ui.fileOpenNavigator"
            perspective="org.dawnsci.mapping.ui.dawn.mappingperspective">
      </fileOpen>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dawnsci.mapping.ui.dawn.mappingperspective">
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="navigate">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="project">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.workbench.navigate">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.debug.ui.launchActionSet">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.dawb.tango.extensions.shared.memory">
         </hiddenToolBarItem>
         <hiddenMenuItem
               id="org.eclipse.search.menu">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="file">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="edit">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="newWizardDropDown">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoLastEditPosition">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.save">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.file.saveAll">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.search.OpenSearchDialogPage">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="uk.ac.diamond.scisoft.analysis.rcp.plotting.actions.showPlotViewToolbarCommand">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.userstorage.accounts">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenToolBarItem>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="org.dawnsci.datavis.file"
               label="File">
            <menu
                  id="org.dawnsci.datavis.file.transfer"
                  label="Transfer">
               <command
                     commandId="org.dawnsci.mapping.ui.command.transferdatavisfile"
                     icon="icons/map.png"
                     label="Mapping"
                     style="push">
               </command>
               <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="org.dawnsci.datavis.DataVisPerspective">
                  </equals>
               </with>
            </visibleWhen>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.dawnsci.mapping.ui.DatavisMappingTransferHandler"
            id="org.dawnsci.mapping.ui.command.transferdatavisfile"
            name="Datavis mapping transfer">
      </command>
   </extension>

</plugin>
