<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Web Browser"
            id="org.dawnsci.browser">
      </category>
      <e4view
            allowMultiple="true"
            category="org.dawnsci.browser"
            class="org.dawnsci.browser.views.BrowserPart"
            icon="icons/globe.png"
            id="org.dawnsci.browser.views.BrowserPart"
            name="DAWN Web Browser"
            restorable="true">
      </e4view>
   </extension>

</plugin>
